.product {
    width: 100%;
    & .product_heading {
        // border: 1px solid red;
    }

    &-image {
       display: inline;;
        img {
            margin:auto;
            width: 100%;
        }
    }
    &__info {
        // border: 1px solid red;
        // margin: 10px;
        &-title {
            color: black;
        }
        &-price {
            
            padding: 10px;
            background-color: burlywood;;
        }
    }
    
}