

.shift {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.navbar {
    
    background: #411B23;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70px;
    font-family: 'Bebas Neue', cursive;

    
    //border-bottom: 1px solid rgb(187, 187, 187);
    &__list-item {
        @extend .shift;
        padding: 20px;
        // margin: -1px;
        //border: 2px solid rgb(187, 187, 187);
        &__home-icon {
            @extend .shift;
            //border: 2px solid rgb(253, 253, 253);
            padding: 20px;
            cursor: pointer;
            &:hover{
                background-color: #F7F7F7;
                color: black;
            }
        }

        &__cart-img {
        @extend .shift;
        //    justify-content: flex-end;  
        padding: 20px;
        margin-left: auto;
       
            &:hover{
                background-color: black;
                color: white;
            }
        }

        &:hover{
            //padding: 35px;
            background-color: black;
            color: white;
        }
    }

}


@media only screen and (max-width: 600px) {
    img{
        height: 200px;
        
    }
  }