.container {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    &__button  button{
        color: white;
        margin: 0;
        border: none;
        padding: .5rem 1rem;
        cursor: pointer;
        font-size: 16px;
        background: rgb(101, 104, 102);
    }
    &__count {
        font-size: 16px;
        padding: 0px 7px 0px 7px ;
        margin: 7px;;
    }

}